  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: figtree, sans-serif;
  background-color: hsl(47, 88%, 63%);
}
.container {
  min-width: 300px;
  max-width: 360px;
  letter-spacing: -0.6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 14px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 14px 14px 0 0 hsl(0, 0%, 7%);
}
img {
  max-width: 100%;
  border-radius: 14px;
}
button {
  margin-top: 16px;
  margin-bottom: 10px;
  background-color: hsl(47, 88%, 63%);
  padding: 6px 12px;
  font-weight: 800;
  border-radius: 6px;
  border: none;
}
button + p {
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  margin-bottom: 16px;
}
h3 {
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    color: hsl(47, 88%, 63%);
  }
}
h3 + p {
  color: hsl(0, 0%, 50%);
  font-size: 1rem;
  margin-bottom: 16px;
}
.profile {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
}
.profile img {
  width: 30px;
}
.profile div {
  font-weight: 800;
}